@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f9fc;
  color: #333;
}
